<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../normalize.css">
  <link rel="stylesheet" href="../style.css">
  <title>BespokeSynth Quick Reference</title>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>BespokeSynth Quick Reference</h1>
    </header>

    <aside>
      <% it.modules.forEach((module)=> { %>
        <div class="all-instruments">
          <h2 class="title title-<%= module.replace(/\s+/, '-') %>">
            <%= module %>
          </h2>
          <ul>
            <% it.docs[module].forEach(function(m) { %>
              <li class="<%= m.type.replace(/\s+/, '-') %>">
                <a href="#">
                  <%= m.name %>
                </a>
              </li>
              <% }) %>
          </ul>
        </div>
        <% }) %>
    </aside>
    <main class="p-20">
      <% it.modules.forEach((module)=> { %>
        <div>
          <% it.docs[module].forEach(function(m) { %>
            <div class="p-10 <%= m.type.replace(/\s+/, '-') %>">
              <h3>
                <%= m.name %>
              </h3>
              <p>
                <%= m.description %>
              </p>
            </div>
            <% }) %>
        </div>
        <% }) %>
    </main>
  </div>
</body>

</html>