<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../normalize.css">
  <link rel="stylesheet" href="../style.css">
  <title>BespokeSynth Quick Reference</title>
</head>
<body>
  <header>
    <h1>BespokeSynth Quick Reference</h1>
  </header>

  <div class="layout">
    <aside>
      <div class="instruments">
        <h2>Instruments</h2>
        <ol>
        <% it.docs.instruments.forEach(function(instrument) { %>
          <li class="p-10 <%= instrument.type %>">
            <div class="flex">
              <span class="type">&period;</span>
              <h3><%= instrument.name %></h3>  
            </div>
          </li>
        <% }) %>
        </ol>
      </div>
    </aside>


    <main>
      I am main
    </main>
  </div>


</body>
</html>